#add-place-container,
#review-place-container
{
  width: 50%;
};


.form-control{
  display: block;
  width: 30%;
}

.row {
  justify-content: space-around;
  min-height: 200px;
  flex-wrap: wrap;
}

/* MapBox Styling */
.marker {
  background-image: url('../../images/mapbox-icon.png'); 
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.viewMap {
  margin: auto;
  margin: 80px 40px;
}

/* Information Pane Styling */
.info {
  margin: 80px 40px;
  max-width: 640px;
  overflow-wrap: normal;
  font-family: 'Thasadith', sans-serif;

}

.content > h2 {
  color: #999;
  font-weight: 200;
}

.content > p {
  color: #333;
  padding: 10px 5%;
}

/* Places List Styling */
.place-div {
  display: flex;
  border: solid 1px grey;
  border-radius: 5px;
  width: 40%;
  padding: auto;
  margin: 0px 20px;
  justify-content: center;
  font-family: 'Thasadith', sans-serif;
}

.place-ul {
  list-style-type: none;
  padding: auto;
  margin: 10px 20px;
}

.place-ul > li {
  margin: 10px 5px;
  background-color: linear-gradient(transparent, #999);
  font-size: large;
}

li:hover {
  transform: scale(1.25);
  transition: 420ms ease-in-out
}

.place-list > a {
  animation: fadein 360ms ease-in;
  animation-delay: calc(var(--animation-order) * 150ms)
}

/* Reviews Styling */
.reviews {
  width: 40%;
  border: solid 1px grey;
  border-radius: 5px;
  font-family: 'Thasadith', sans-serif;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  animation: fadein 420ms ease-in;
  animation-delay: calc(var(--animation-order) * 150ms)
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel > p {
  max-width: 70%;
  word-wrap: normal;
}

.delete {
  font-size: smaller;
  background: transparent;
  border: transparent;
  color: #999;
  float: right;
}

.delete:hover {
  color: red;
}
/* Joyce's Changes */
.index-body {
  background-image: url(https://images.unsplash.com/photo-1571292098320-997aa03a5d19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=594&q=80);
  background-size: auto;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  text-align: center;
}

#slogan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #d0ab64;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.btn-outline {
  /* color: #4fbfa8; */
  border-color: #f6f6e9;
  width: 14rem;


}

.slogan-row {
  margin-bottom: 0px;
}
.row-of-buttons {
  margin-left: auto;
  margin-right: auto; 
}

.navbar {
  margin-bottom: 30px;
}

.add-place-body,
.review-body,
.view-body{
  background-color: #f6f6e9;
}


label {
font-family: 'Thasadith', sans-serif;
}

.btn-primary {
  background-color: #61abab !important;
  border-color: #61abab !important;
  font-family: 'Thasadith', sans-serif !important;
}

@keyframes fadein {
  0% {
    color: white;
    opacity: 0;
    filter: blur(15px);
    transform: scale(0.6) translateY(-8px);
  }
  50% {
    opacity: .6;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: none;
    transform: none;
  }
}